#colNome{
	width: 300px;
}
#colEspecie{
	width: 100px;
}
#colSexo{
	width: 70px;
}
#colIdade{
	width: 70px;
}
#colEmail{
	width: 250px;
}
#colPoder{
	width: 200px;
}
#imgFooter{
	width: 80px;
	height: 100px;
}
#id_idade{
	width: 300px;
}
#id_poder{
	width: 300px;
}
#id_sexo{
	list-style:none;
	width: 50%;
}
.errorlist{
	list-style:none;
}
